<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
  <h2>Корзина</h2>

  <ul>
    {% for item in cart_items %}
      <li>
        {{ item.product.name }} - {{ item.quantity }} шт. - {{ item.product.price }} руб./шт.
        <a href="{% url 'shop:update_cart' item.id 'increase' %}">+</a>
        <a href="{% url 'shop:update_cart' item.id 'decrease' %}">-</a>
        <a href="{% url 'shop:remove_from_cart' item.id %}">Удалить из корзины</a>
      </li>
    {% empty %}
      <li>Ваша корзина пуста.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'shop:index' %}">Вернуться на главную</a>
{% endblock %}
</body>
</html>